@import './variables';
@import './grapes_main.scss';
.gjs-block-label {
    font-size: 1rem;
}

// Layers list items height
.gjs-no-app {
    height: 15px;
}

.gjs-devices-c {
    font-size: xx-small;
}